<!-- Navbar -->
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">GOVERNMENT HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        
  
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-patient">Add Patient</a>
          </li>
  
          <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/view-medicine">View Medicine</a>
          </li>
        
      </ul>
  
      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
        
    </div>
      
    </div>
  
  </nav>
  <!-- Dashboard Section -->
<div class="container mt-4">
    <hr>
    <h2 class="text-center text-uppercase">Doctor Dashboard</h2>
    <p class="text-muted text-center font-italic mb-4">
      <marquee behavior="scroll" direction="left">
        Welcome to Admin Dashboard. Please find the patient list below! Click "Appointments" to view and update appointments, or "Add Appointment" to add new appointments.
      </marquee>
    </p>
    <hr>
  
<h4 class="text-secondary">Current Patient List in the Queue</h4>
  <div class="table-responsive mt-3">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Urgency</th>
          <th scope="col">Action</th>
      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{patient.id}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.age}}</td>
          <td>{{patient.blood}}</td>
          <td>{{patient.urgency}}</td>
          <td>
          <button (click)="update(patient.id)" class="btn btn-success">Update</button>
          <button (click)="delete(patient.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
          <button (click)="view(patient.id)" class="btn btn-info" style="margin-left: 10px;">View</button>
          </td>
        </tr>
      </tbody>
    </table>
