<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">GOVERNMENT HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/view-medicine">Back</a>
          </li>

        
        
      </ul>

      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
        
    </div>
      
    </div>
  
  </nav>

<div class="container">

    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center text-primary mb-4">Update Medicine Form</h2>
            
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="drug" class="font-weight-bold text-secondary">Drug Name</label>
                    <input type="text" id="drug" class="form-control" placeholder="Enter drug"  name="drugName">
                </div>
    
                <div class="form-group">
                    <label for="stock" class="font-weight-bold text-secondary">Stock</label>
                    <input type="text" id="stock" class="form-control" placeholder="Enter stock"  name="stock">
                </div>
    
                  <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                
            </form>
        </div>
    </div>

</div>

